<h5>Upcoming Events</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Date</th>
      <th scope="col">Event Type</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>

<br><br>

<h5>Plan an Event</h5> <hr>

<form>
  <div class="form-group">
    <label for="forEvent">Event Name</label>
    <input type="text" class="form-control" id="forEvent" >
  </div>
  <div class="form-group">
    <label for="forDate">Event Date</label>
    <input type="date" class="form-control" id="forDate" >
  </div>
  <div class="form-group">
    <label for="forType">Event Type</label>
    <select class="form-control" id="forType">
      <option>Movie</option>
      <option>Trip</option>
      <option>House Maintenance Works</option>
      <option>Others</option>      
    </select>
  </div>  
  <div class="form-group">
    <label for="forDesc">Description About event</label>
    <textarea class="form-control" id="forDesc" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
  <button type="reset" class="btn btn-warning" style="margin-left: 15px;">Reset</button>
</form>
