<div style="float: right">
  <h5>Register yourself here!</h5>
  <form >
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="inputDob">Date of Birth</label>
      <input type="date" class="form-control" id="inputDob" placeholder="Enter Date of Birth">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share this email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="inputPwd">Password</label>
      <input type="password" class="form-control" id="inputPwd" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputPwd2">Re enter Password</label>
      <input type="password" class="form-control" id="inputPwd2" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Enter City">
    </div>
    <div class="form-group">
      <label for="inputOccu">Occupation</label>
      <input type="text" class="form-control" id="inputOccu" placeholder="Enter Occupation">
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">Submit</button> 
    <button type="reset" class="btn btn-warning btn-block">Reset</button>
  </form>
</div>