<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Edit Role</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ABC</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm btn-block">Make Admin</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>ABC</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm btn-block">Make Admin</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>ABC</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm btn-block">Make Admin</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-sm btn-block">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
