<div *ngFor="let values of _newData">
  <mat-card class="example-card" style="background-color:#fffaeb">
    <img mat-card-image src="./assets/images/AdminModule/profileDp.jpg" style="height: 150px; width: 150px;">
    <mat-card-content>
      <p>{{ values.firstName}} {{ values.lastName}}</p>
      <p>{{ values.role }} </p>
      <p>{{ values.phone }} </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon
        color="primary"
        matTooltip="Edit"
        (click)="doSomething()">edit</mat-icon>
      &nbsp;
      <mat-icon color="warn"
        (click)="doSomething()"
        matTooltip="Delete">delete</mat-icon> &nbsp;
      <mat-icon color="primary"
      (click)="doSomething()"
      matTooltip="Change Role">autorenew</mat-icon>
    </mat-card-actions>
  </mat-card>


</div>


