.example-card {
  max-width: 300px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,2);
  overflow: hidden;
  float: left;
  margin-right: 25px;
  align-content: center;
  text-align: center;
}

.example-card:hover {
  box-shadow: 0 8px 15px 0 rgba(0,0,0,4);
}

.mateCards{
  overflow: hidden;
  float: left;
  text-align: center;
  margin: 20px;
  border:1px solid black;
}

