<div style="display: block; float: right;">
  <button mat-mini-fab color="primary" (click)="newMateDialog()"><mat-icon>add_circle</mat-icon></button>
</div>
<div *ngFor="let values of _newData; let ind=index">
  <mat-card class="example-card" style="background-color:#fffaeb">
    <img mat-card-image src="./assets/images/AdminModule/profileDp.jpg" style="height: 150px; width: 150px;">
    <mat-card-content>
      <p>{{ values.firstName}} {{ values.lastName}}</p>
      <p>{{ values.role }} </p>
      <p>{{ values.phone }} </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon
        color="primary"
        matTooltip="Edit"
        (click)="editMate(values,ind)">edit</mat-icon> &nbsp;
      <mat-icon color="warn"
        (click)="deleteMate(ind)"
        matTooltip="Delete">delete</mat-icon> &nbsp;
    </mat-card-actions>
  </mat-card>


</div>


