
<div style="margin-top:10px">
  <h4>Spendings</h4>

  <table mat-table [dataSource]="tableItemsList" class="mat-elevation-z8" style="margin-top:10px">
    <ng-container matColumnDef="iName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let i">{{ i.itemName}}</td>
    </ng-container>

    <ng-container matColumnDef="iCategory">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let i">{{ i.itemCategory}}</td>
    </ng-container>


    <ng-container matColumnDef="iCount">
      <th mat-header-cell *matHeaderCellDef>Count</th>
      <td mat-cell *matCellDef="let i">{{ i.itemCount}}</td>
    </ng-container>


    <ng-container matColumnDef="iCost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let i">{{ i.itemCost}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<br>
<br>

<mat-card class="example-card">
  <h4>Add Item</h4>
  <form  #expensesForm="ngForm" (ngSubmit)="onSubmitted()">
    <p>
      <mat-form-field appearance="outline" class="expenses-form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newEntry.itemName" name="itemName" required minlength="3">
      </mat-form-field>
    </p>


    <mat-form-field appearance="outline" class="expenses-form">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="newEntry.itemCategory" name="itemCategory" required>
        <mat-option value="Grocery">Grocery</mat-option>
        <mat-option value="Edibles">Edibles</mat-option>
        <mat-option value="Furniture">Furniture</mat-option>
        <mat-option value="Others">Others</mat-option>
      </mat-select>
    </mat-form-field>

    <p class="expenses-form">
      <mat-label>Count: </mat-label>
      <button type="button" mat-stroked-button (click)="bokkale(1)">+</button>
      &nbsp; {{ itemsCount}} &nbsp;
      <button type="button" mat-stroked-button (click)="bokkale(0)">-</button>
    </p>
    <p>
      <mat-form-field appearance="outline" class="expenses-form">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="newEntry.itemDesc" name="itemDesc"></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="expenses-form">
        <mat-label>Cost</mat-label>
        <input matInput type="number" [(ngModel)]="newEntry.itemCost" name="itemCost" required>
      </mat-form-field>
    </p>

    <button mat-raised-button type="submit" class="expenses-form" color="primary" [disabled]="!expensesForm.valid" >Submit</button>
    <button mat-raised-button type="reset" class="expenses-form" color="warn">Reset</button>
  </form>


</mat-card>
