.example-card{
  width: 250px;
  align-content: center;
  text-align: center;
}

.card-displayDiv{
  display: inline-block;
  margin: 25px;
}

.card-displayDiv:hover{
  box-shadow: 0 8px 15px 0 rgba(0,0,0,4);
}

.editClass{
  border:none;
}
