.example-card{
  width: 250px;
  align-content: center;
  text-align: center;
}

.example-card:hover{
  box-shadow: 0 8px 15px 0 rgba(0,0,0,4);
}

.card-displayDiv{
  display: inline-block;
  margin: 25px;
}

/* .card-displayDiv:hover{
  box-shadow: 0 8px 15px 0 rgba(0,0,0,4);
} */

.editClass{
  border:none;
}

.itemCard{
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid black;
  height: 220px;
  width: 220px;
  align-content: center;
  text-align: center;
}

.itemCard:hover{
  /* box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 8px 15px 0 rgba(0,0,0,4);
}

.cardInput{
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}


