<h5 style="display:inline">Create a Monthly Breakup</h5>

<hr>

<div class="card-displayDiv" *ngFor="let recep of newPlan | keyvalue: 0">
  <mat-card class="example-card">

    <!-- Rent Card -->
    <div *ngIf="recep.key=='rent'">
      <mat-card-header>
        <mat-card-title>Rent</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/AdminModule/houseIcon.png" alt="" width="70px" height="70px">
      </mat-card-content>
    </div>

    <!-- Electricity Card -->
    <div *ngIf="recep.key=='elec'">
      <mat-card-header>
        <mat-card-title>Electricity</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/AdminModule/eleIcon.png" alt="" width="70px" height="70px">
      </mat-card-content>
    </div>

    <!-- Internet Card -->
    <div *ngIf="recep.key=='internet'">
      <mat-card-header>
        <mat-card-title>Internet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/AdminModule/netIcon.png" alt="" width="70px" height="70px">
      </mat-card-content>
    </div>

    <!-- Gas Card -->
    <div *ngIf="recep.key=='gas'">
      <mat-card-header>
        <mat-card-title>Gas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/AdminModule/gasIcon.png" alt="" width="70px" height="70px">
      </mat-card-content>
    </div>

    <!-- Grocery Card -->
    <div *ngIf="recep.key=='groc'">
      <mat-card-header>
        <mat-card-title>Grocery</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/AdminModule/grocIcon.png" alt="" width="70px" height="70px">
      </mat-card-content>
    </div>

    <!-- Misc Card -->
    <div *ngIf="recep.key=='others'">
      <mat-card-header>
        <mat-card-title>Others</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/AdminModule/miscIcon.png" alt="" width="70px" height="70px">
      </mat-card-content>
    </div>


    <mat-card-actions>
      <p  [hidden]="!toggle"><strong>{{ recep.value }}</strong></p>
      <input class="editClass" [hidden]="toggle" type="text" [(ngModel)]="recep.value" placeholder="{{ recep.value}}">
      <button mat-button [hidden]="!toggle" (click)="toggler(recep.key)" >EDIT</button>
      <button mat-button [hidden]="toggle" (click)="toggler(recep.key)" >SAVE</button>
      <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>

